@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    
}
 /* input field customize */
 
.custom-inputField{
    padding: 8px 2px;
    background-color: rgba(250, 235, 215, 0.671);
    border: 0px solid;
    border-radius: 10px;
}

/* error massage handle */
.custom-erro-design{
  display: none;
  align-items: center;
  width:27%;
  color: white;
  padding: 1% ;
  font-size:25px;
  background-color: rgba(245, 3, 3, 0.678);
}